<?xml version="1.0" encoding="UTF-8"?>
<bn:beans xmlns:bn="http://www.springframework.org/schema/beans"
xmlns="http://www.springframework.org/schema/security"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- user password encryption -->
	<bn:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	</bn:bean>
	<bn:bean id="fleaUserDetailService" class="org.fleamarket.user.service.UserDetailServiceImpl" />
	
	
	<http auto-config="true">
	    <intercept-url pattern="/" access="permitAll()" />
	    <intercept-url pattern="/login" access="permitAll()" />
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="fleaUserDetailService">
		<password-encoder ref="bcryptEncoder"/>
			<!-- <jdbc-user-service data-source-ref="dataSource"/>
			<user-service>
				you need {} to use the password encoder. values: bcrypt, noop, scrypt
				sha256, and pbkdf2
				<user name="sovello" password="{noop}sovello" authorities="ROLE_USER" />
				<user name="carlton" password="{noop}carlton" authorities="ROLE_USER" />
				<user name="evelyn" password="{noop}evelyn" authorities="ROLE_USER" />
			</user-service> -->
		</authentication-provider>
	</authentication-manager>

</bn:beans>